<h1>タスク新規作成ページ</h1>

<%= form_with(model: @task, local: true) do |f| %>
  <%= f.label :content, 'タスク' %>
  <%= f.text_field :content %>

  <%= f.submit '作成' %>
<% end %>

<%= link_to '一覧に戻る', tasks_path %>